{% extends 'budget/base.html' %}

{% block content %}
<title>{{ title }}</title>
<h1>{{ title }}</h1>
<ul>
{% for currency in currencies %}
    <li>
        {{ currency.currency }} | {{ currency.country }}
        {% if request.user.is_authenticated %}
            |<a href="{{ currency.edit_currency }}">edit</a>|
            <a href="{{ currency.delete_currency }}">delete</a>
        {% endif %}
    </li>
{% endfor%}
</ul>

{% if request.user.is_authenticated %}
    <a href="{% url 'add_currency' %}">add new currency</a>
{% endif %}

{% endblock content%}