html {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

/*.sidenav {
    height:100%;
    width:360px;
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    overflow-x: :hidden;
    padding-top:20px;
    color:#f1f1f1;
}

.sidenav a {
    padding:6px 8px 6px 16px;
    text-decoration: none;
    font-size:25px;
    color: #818181;
    display:block;
}

.sidenav a:hover{
    color:#f1f1f1;
}

.main{
    margin-left:360px;
    padding: 0px 10px;
}
*/

ul.main_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.main_menu li {
    float: left;
}

ul.main_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.main_menu li a:hover {
    background-color: #111111;
}